<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <header>
        <span>Welcome Admin</span>
        <ul>
            <a href="/home">Home</a>
            <a href="/search">Search</a>
            <a href="/summary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
    </header>
    <div class="services">
        <h5>Services</h5>
        <table>
            <tr>
                <th>ID</th>
                <th>Service name</th>
                <th>Base Price</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>678</td>
                <td>Edit/Delete</td>
            </tr>
        </table>
    </div>
    <a href="/newService"> +New Service</a>

    <!--Proffessionals column-->
    <div class="services">
        <h5>Professionals</h5>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Experience</th>
                <th>Serice name</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>6</td>
                <td>Cleaning</td>
                <td>Edit/Delete</td>
            </tr>
        </table>
    </div>
    <!--Service Requests-->
    <div class="services">
        <h5>Services</h5>
        <table>
            <tr>
                <th>ID</th>
                <th>Assgned Professionals</th>
                <th>Requested Date</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>09/78/90</td>
                <td>Requested</td>
            </tr>
            <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>09/78/90</td>
                <td>Accepted</td>
            </tr>
            <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>09/78/90</td>
                <td>Closed</td>
            </tr>
        </table>
    </div>
</body>

</html>