<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer search</title>
</head>

<body>
    <header>
        <span>Welcome to Customer</span>
        <ul>
            <a href="/home">Home</a>
            <a href="/search">Search</a>
            <a href="/summary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
    </header>
    <!--Search Functionality-->
    <div class="search">

        <form action="/search" method="POST">
            <label>Search By:</label>
            <select name="sacategory" value="Service Name">
                <option value="serviveName">Service Name</option>
                <option value="pincode">PinCode</option>
                <option value="ratitng">Raiting</option>
            </select>
            <input type="text" value="search text">
        </form>
    </div>

    <h2>Best Saloon Packages</h2>
    <div class="pakages">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci rem deleniti veritatis delectus?</p>
        <a href="/book">Book</a>
    </div>

</body>

</html>