<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <header>
        <span>Welcome Admin</span>
        <ul>
            <a href="/admin">Home</a>
            <a href="/search">Search</a>
            <a href="/summary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
    </header>
    <div class="services">
        <h2>Services</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Service name</th>
                <th>Base Price</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>678</td>
                <td>Edit/Delete</td>
            </tr>
            {%for i in service%}
            <tr>
                <td>{{i.s_id}}</td>
                <td>{{i.sname}}</td>
                <td>{{i.sbaseprice}}</td>
                <td><a href="/edit">Edit</a>/<a href="/deleteService/{{i.s_id}}">Delete</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <a href="/new_service"> +New Service</a>

    <!--Proffessionals column-->
    <div class="services">
        <h2>Professionals</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Experience</th>
                <th>Serice name</th>
                <th>Action</th>
            </tr>
            {%for i in prof%}
            <tr>
                <td>{{i.prof_id}}</td>
                <td>{{i.pname}}</td>
                <td>{{i.pexp}}</td>
                <td>{{i.pserviceName}}</td>
                <td><a href="/edit">Edit</a>/<a href="/deleteProf/{{i.prof_id}}">Delete</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <!--Service Requests-->
    <div class="services">
        <h2>Services</h2>
        {%if serv_req%}
        <table>
            <tr>
                <th>ID</th>
                <th>Assigned Professionals</th>
                <th>Customer Name</th>
                <th>Requested Date</th>
                <th>Status</th>
            </tr>
            {%for cust,serv_r,prof in serv_req%}
            <tr>
                <td>{{serv_r.sr_id}}</td>
                <td>{{prof.pname}}</td>
                <td>{{cust.cname}}</td>
                <td>{{serv_r.date_of_req}}</td>
                <td>{{serv_r.status}}</td>
            </tr>
            {%endfor%}
            
        </table>
        {%else%}
        <h3>No service Request yet</h3>
        {%endif%}
    </div>
</body>

</html>