<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
    <link rel="stylesheet" href="../static/style/nav.css">
</head>
<body>
    <header>
        <h2>Welcome Admin</h2>
        <ul>
            <a href="/admin">Home</a>
            <a href="/admin_search">Search</a>
            <a href="/admin_summary">Summary</a>
           
        </ul>
        <ul style="width:24%;justify-content: end;"><a href="/logout">Logout</a> </ul>
    </header>
    <h1>Profile Information</h1>
    {% if role == "Professional" %}
        <h2>Professional Profile</h2>
        <p>Name: {{ details.pname }}</p>
        <p>Experience: {{ details.pexp }} years</p>
        <p>Service: {{ details.pserviceName }}</p>
        <h3>Reviews</h3>
            {% if reviews %}
                <ul>
                {% for review in reviews %}
                    <li>Rating: {{ review.srating }} - Remarks: {{ review.remarks or 'No remarks' }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No reviews found for this professional.</p>
            {% endif %}
    
        <!-- Add other professional-specific fields here -->

    {% elif role == "Customer" %}
        <h2>Customer Profile</h2>
        <p>Name: {{ details.cname }}</p>
        <p>Email: {{ details.cemail }}</p>
        <p>Address: {{ details.caddress }}</p>
        <!-- Add other customer-specific fields here -->

    {% elif role == "Service" %}
        <h2>Service Details</h2>
        <p>Service Name: {{ details.sname }}</p>
        <p>Description: {{ details.sdescription }}</p>
        <p>Price: {{ details.sbaseprice }}</p>
        <!-- Add other service-specific fields here -->

    {% endif %}
</body>
</html>