<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin search</title>
</head>

<body>
    <header>
        <span>Welcome Admin</span>
        <ul>
            <a href="/home">Home</a>
            <a href="/search">Search</a>
            <a href="/summary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
    </header>
    <!--Search Functionality-->
    <div class="search">

        <form action="/search" method="POST">
            <label>Search By:</label>
            <select name="sacategory" value="Service Request">
                <option value="servives">Services</option>
                <option value="customer">Customer</option>
                <option value="professional">Professional</option>
            </select>
            <input type="text" value="search text">
        </form>
    </div>
</body>

</html>