<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer SignUp</title>
</head>
<body>
    <h1>Customer SignUp</h1>
    <form action="/customer_signUp" method="POST">
        <label>Email Id(Username)</label>
        <input type="input" name="cemail" required/><br>

        <label>Password</label>
        <input type="password" name="cpassword" required/><br>

        <label>Fullname</label>
        <input type="input" name="cname" required/><br>

        <label >Address</label>
        <textarea name="caddress" required></textarea><br>
        <label>Pincode</label>
        <input type="input" name="cpincode" required/><br>
        <label>Phone Number</label>
        <input type="input" name="phoneNo" required/><br>
        <button>Register</button><br>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>{% for message in messages %}{{ message }}{% endfor %}</ul>
        {% endif %}
        {% endwith %}
        <a href="/login">Login Here</a>
    </form>
</body>
</html>