<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Remarks</title>
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/remarks.css">
    <link rel="stylesheet" href="../static/style/form.css">


</head>

<body>
    <header>
        <h2>Welcome to Customer</h2>
        <ul>
            <a href="/customer">Home</a>
            <a href="/customer_search">Search</a>
            <a href="/custSummary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
        <ul style="width:24%;">
            <a href="/cust_profile">Profile</a>
            <a href="transHistory/{{session['id']}}">Transaction History</a>
        </ul>
    </header>
    <!--Main Body-->
    {%for sr,s,p in results%}
    <div class="main">
        <div class="left">
            <h2 align="center">Service Details</h2>
            <div class="leftcontent">
                <div class="subleft">
                    <span>Request Id</span>
                    <span>Service name</span>
                    <span>Date of Request</span>
                    <span>Professional Id</span>
                    <span>Professional Name</span>
                    <span>Contact Number</span>
                    <span>Description</span>
                </div>
                <div class="subright">
                    <span>{{sr.sr_id}}</span>
                    <span>{{s.sname}}</span>
                    <span>{{sr.date_of_req}}</span>
                    <span>{{p.prof_id}}</span>
                    <span>{{p.pname}}</span>
                    <span>{{p.pphoneNo}}</span>
                    <span>{{s.sdescription}}</span>
                </div>
            </div>
        </div>

        <div class="right">
            <h1>Service Remarks</h1>
            <form action="/closeService/{{sr.sr_id}}" method="POST">
                <label>Remarks (if any)</label>
                <textarea name="remarks"></textarea>
                <!-- raiting form -->
                <label>Rating</label>
                <div class="star-rating">
                    <input type="radio" name="rating" id="5-stars" value="5" />
                    <label for="5-stars" class="star">&#9733;</label>
                    <input type="radio" name="rating" id="4-stars" value="4" />
                    <label for="4-stars" class="star">&#9733;</label>
                    <input type="radio" name="rating" id="3-stars" value="3" />
                    <label for="3-stars" class="star">&#9733;</label>
                    <input type="radio" name="rating" id="2-stars" value="2" />
                    <label for="2-stars" class="star">&#9733;</label>
                    <input type="radio" name="rating" id="1-star" value="1" />
                    <label for="1-star" class="star">&#9733;</label>
                </div>
                <input type="submit" value="Submit">
                <button onclick="window.history.back();">Close</button>
        </div>
   
        {%endfor%}
        </form>
        </h2>
    </div>
</body>

</html>