<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/customer.css">
</head>

<body>
    <header>
        <h2>Welcome to Customer</h2>
        <ul>
            <a href="/customer">Home</a>
            <a href="/customer_search">Search</a>
            <a href="/custSummary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
        <ul style="width:24%;">
        <a href="/cust_profile">Profile</a>
        <a href="transHistory/{{session['id']}}">Transaction History</a></ul>
        </header>
    <div class="selection">
        <h2>Select what are you looking specifically in {{serviceName}}</h2>
        <div class="types">
        {%for j in subServices%}

        <a href="/customer_subService/{{j.sname}}">{{j.sname}}</a>

        {%endfor%}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- {%if msg%}{{msg}}{%endif%} --></div>
    </div>

    <h2>Service History</h2>
    {%if custHistory%}
    <table>
        <tr>
            <th>ID</th>
            <th>Service name</th>
            <th>Professional name</th>
            <th>Phone no</th>
            <th>Status</th>
        </tr>
        {%for prof,ser_rq,service in custHistory%}
        <tr>
            <td>{{ ser_rq.sr_id }}</td>
            <td>{{ service.sname }}</td>
            {%if prof.is_approved=="Accepted"%}
            <td>{{ prof.pname }}</td>
            <td>{{prof.pphoneNo}}</td>
            {%else%}
            <td>User</td>
            <td>NA</td>
            {%endif%}
            <td>
                {% if ser_rq.status=="Requested" %}
                            Requested
                        {% elif ser_rq.status == "Closed" %}
                            Closed
                        {% elif ser_rq.status == "Rejected" %}
                            Rejected
                        {%elif ser_rq.status=="Accepted"%}
                            <a href="payment/{{ser_rq.sr_id}}">Make Payment</a>
                        {% elif ser_rq.status == "C Pay done" %}
                            Payment under Confrmation
                        {% elif ser_rq.status=="Payment Verified" %}
                            <a href="/closeService/{{ser_rq.sr_id}}">Close It?</a>
                        {% endif %}
            </td>
        </tr>
        {%endfor%}

        </tr>
    </table>
    {%else%}
    <h3>No previous history is there to show</h3>
    {%endif%}
</body>

</html>