<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>

<body>
    <header>
        <h2>Welcome to Customer</h2>
        <ul>
            <li><a href="/customer">Home</a></li>
            <li><a href="/customer_search">Search</a></li>
            <li><a href="/summary">Summary</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <a href="/cust_profile">Profile</a>
    </header>
    <div class="bestPakages">
        <h2>Best {{subService_title}} Pakages</h2>
        <div class="pakages">
            {%for i in subServices%}
            <span>{{i.pname}}</span><a href="/book_service/{{i.prof_id}}/{{subService_title}}" type="button">Book</a>
            {%endfor%}
            <span>description</span><button>Book</button>
            <span>description</span><button>Book</button>
            <span>description</span><button>Book</button>
            <span>description</span><button>Book</button>
        </div>

    </div>

    <h2>Service History</h2>
    {%if custHistory%}
    <table>
        <tr>
            <th>ID</th>
            <th>Service name</th>
            <th>Professional name</th>
            <th>Phone no</th>
            <th>Status</th>
        </tr>
        {%for prof,ser_rq,service in custHistory%}
        <tr>
            <td>{{ ser_rq.sr_id }}</td>
                    <td>{{ service.sname }}</td>
                    {%if prof.is_approved=="Accepted"%}
                    <td>{{ prof.pname }}</td>
                    <td>{{prof.pphoneNo}}</td>
                    {%else%}
                    <td>User</td>
                    <td>NA</td>
                    {%endif%}
            <td>
                {% if ser_rq.status=="Requested" %}
                    Requested
                {% elif ser_rq.status == "Closed" %}
                    Closed
                {% elif ser_rq.status == "Rejected" %}
                    Rejected
                {% else %}
                    <a href="/closeService/{{ser_rq.sr_id}}">Close It?</a>
                {% endif %}
            </td>
        </tr>
        {%endfor%}

        </tr>
        
    </table>
    {%else%}
    <h3>No previous history is there to show</h3>
    {%endif%}
</body>

</html>