<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>

<body>
    <header>
        <h2>Welcome to Customer</h2>
        <ul>
            <li><a href="/customer">Home</a></li>
            <li><a href="/customer_search">Search</a></li>
            <li><a href="/custSummary">Summary</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <a href="/cust_profile">Profile</a>
    </header>
    <div class="selection">
        <h2>Looking For</h2>
        {% for j in servType %}
            <a href="customer_serviceType/{{ j.pServiceType }}">{{ j.pServiceType }}</a>
        {% endfor %}
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li> <!-- Each message should be inside a <li> -->
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    
    <h2>Service History</h2>
    {% if custHistory %}
        <table>
            <tr>
                <th>ID</th>
                <th>Service name</th>
                <th>Professional name</th>
                <th>Phone no</th>
                <th>Status</th>
            </tr>
            {% for prof, ser_rq, service in custHistory %}
                <tr>
                    <td>{{ ser_rq.sr_id }}</td>
                    <td>{{ service.sname }}</td>
                    <td>{{ prof.pname }}</td>
                    <td>{{prof.pphoneNo}}</td>
                    <td>
                        {% if ser_rq.status=="Requested" %}
                            Requested
                        {% elif ser_rq.status == "Closed" %}
                            Closed
                        {% elif ser_rq.status == "Rejected" %}
                            Rejected
                        {% else %}
                            <a href="/closeService/{{ser_rq.sr_id}}">Close It?</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No previous history to show</h3>
    {% endif %}
</body>

</html>
