<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/profile.css">

</head>

<body>
    <header>
        <h2>Welcome to Customer</h2>
        <ul>
            <a href="/customer">Home</a>
            <a href="/customer_search">Search</a>
            <a href="/custSummary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
        <ul style="width:24%;">
            <a href="/cust_profile">Profile</a>
            <a href="transHistory/{{session['id']}}">Transaction History</a>
        </ul>
    </header>

    <div class="main">

        <div class="left">
            <img src="../static/images/profile.png" alt="Profile">
            <h1>{{c.cname}}</h1>
            <div class="link">
                <a href="/updateCustProfile/{{c.cust_id}}" type="Button">Edit Profile</a><a href="/deleteCustProfile"
                    type="Button">Delete Profile</a>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="right">


            <div class="subright">
                <span>Username(emmail)</span>
                <span>Address</span>
                <span>PinCode</span>
                <span>Contact Number</span>
            </div>
            <div class="subleft">
                <span>{{c.cemail}}</span>
                <span>{{c.caddress}}</span>
                <span>{{c.cpincode}}</span>
                <span>{{c.cphoneNo}}</span>
            </div>

        </div>
    </div>
</body>

</html>