<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Service</title>
    <link rel="stylesheet" href="../static/style/form.css">
    <link rel="stylesheet" href="../static/style/nav.css">
</head>
<body>
    <header>
        <h2>Welcome Admin</h2>
        <ul>
            <a href="/admin">Home</a>
            <a href="/admin_search">Search</a>
            <a href="/admin_summary">Summary</a>
        </ul>
        <ul style="width:24%;justify-content: end;"><a href="/logout">Logout</a> </ul>
    </header>
    <div class="main">
        <div class="left"><img src="../static/images/img1.jpg" alt=""></div>
    <form action="/new_service" method="POST">
        <h1>New Service</h1>   
        
        <input type="text" name="servName" placeholder="Service name" style="width:40%" required/>
        
        
        <input type="number" name="baseprice" placeholder="Base Price" style="width:40%" required/>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="msg">
        {% for message in messages %}<p>{{ message }}</p>{% endfor %}</div>
        {% endif %}
        {% endwith %}
    
        
        <input type="text" name="timereq" placeholder="Time Required" style="width:40%"/>
        
        <input type="text" name="servtype" placeholder="Service Type" style="width:40%" />
        <textarea name="sdesc" placeholder="Description"></textarea><br>
        <div class="links">
        <input type="submit" value="Add" >
        <a href="/admin" style="padding:0%">Cancel</a></div>
    </form>
    
    </div>
</body>
</html>