<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional</title>
</head>

<body>
    <header>
        <span>Welcome to Professional</span>
        <ul>
            <a href="/home">Home</a>
            <a href="/search">Search</a>
            <a href="/summary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
        <a href="/profile">Profile</a>
    </header>
    <div class="today_services">
        {%if cust_detail_today%}
        <h2>Today's Services</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Contact Number</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
            {%for i in cust_detail_today%}
            <tr>
                <td>{{i.cust_id}}</td>
                <td>{{i.cname}}</td>
                <td>90909087</td>
                <td>{{i.caddress}}</td>
                <td>Accept/Reject</td>
            </tr>
            {%endfor%}
        </table>
        {%else%}
        <h3>No Services are there to be delivered Today</h3>
        {%endif%}
    </div>

    <!--Closed Services-->
    <div class="clservices">
        <h2>Closed Services</h2>
        {%if cust_detail_prev%}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Location</th>
                <th>Date</th>
                <th>Rating</th>
            </tr>
            {%for cust,service in cust_detail_prev%}
            <tr>
                <td>{{cust.cust_id}}</td>
                <td>{{cust.cname}}</td>
                <td>698978909</td>
                <td>{{cust.caddress}}</td>
                <td>{{service.date_of_req}}</td>
                <td>7</td>
            </tr>
            {%endfor%}
        </table>
        {%else%}
        <h3>No previous history</h3>
        {%endif%}
    </div>
    
</body>

</html>