<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Professional SignUp</title>
</head>
<body>
    <h1>Service Professional SignUp</h1>
    <form action="/professional_signUp" method="POST">
        <label>Email Id(Username)</label>
        <input type="input" name="cemail" /><br>

        <label>Password</label>
        <input type="password" name="cpassword" /><br>

        <label>Fullname</label>
        <input type="input" name="cname" /><br>

        <label>Service Name</label>
        
            <select name="serviceName" value="serviceName">
                {%for i in allServices%}
                <option value={{i.sname}}>{{i.sname}}</option>
                <option value="customer">Customer</option>
                <option value="professional">Professional</option>
            </select>

<!-- attach file here and make service as select option -->
        <label>Experience(in years)</label>
        <input type="input" name="exp" /><br>

        <label >Address</label>
        <textarea name="caddress"></textarea><br>

        <label>Pincode</label>
        <input type="input" name="cpincode" /><br>

        <a href="/professional_signUp"><button>Register</button></a><br>

        <a href="/login">Login Here</a>
    </form>
</body>
</html>