<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional search</title>
</head>

<body>
    <header>
        <span>Welcome to Professional</span>
        <ul>
            <a href="/professional">Home</a>
            <a href="//professional_search">Search</a>
            <a href="/summary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
    </header>
    <!--Search Functionality-->
    <div class="search">
        
            <form action="/search" method="POST">
                <label>Search By:</label>
                <select name="sacategory" value="Service Request">
                    <option value="date">date</option>
                    <option value="location">Location</option>
                    <option value="pin">Pin</option>
                </select>
                <input type="text" value="search text">
            </form>
        </div>
        <h3>Search Results</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Contact Number</th>
                <th>Location</th>
                <th>Date</th>
                <th>Rating</th>
            </tr>
            <tr>
                <td>2</td>
                <td>XYZ</td>
                <td>8999878798</td>
                <td>OXY 76767</td>
                <td>09/08/23</td>
                <td>4</td>
            </tr>
        </table>
</body></html>