<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Profile</title>
</head>
<style>
    .main{
        display:flex;
        flex-direction: row;
    }
    .left{
        width:50%;
    }
    .right{
        width:50%;
    }
</style>
<body>
    <header>
        <span>Welcome to Professional</span>
        <ul>
            <a href="/professional">Home</a>
            <a href="//professional_search">Search</a>
            <a href="/summary">Summary</a>
            <a href="/logout">Logout</a>
        </ul>
        <a href="/prof_profile">Profile</a>
    </header>
    <div class="main">
    
    <div class="left">
        <h1>{{p.pname}}</h1>
        <a href="/updateProfProfile/{{p.prof_id}}" type="Button">Edit Profile</a><a href="/deleteProfProfile" type="Button">Delete Profile</a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div class="right">
        <h3>Username(emmail)    </h3>{{p.pemail}}
        <h3>Service Name    </h3>{{p.pserviceName}}
        <h3>Category    </h3>{{category.pServiceType}}
        <h3>Experience  </h3>{{p.pexp}}
        <h3>Address </h3>{{p.paddress}}
        <h3>PinCode </h3>{{p.ppincode}}
        <h3>Contact Number  </h3>{{p.pphoneNo}}

    </div>
</div>
</body>
</html>