<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional</title>
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/admin.css">
</head>

<body>
    <header>
        <h2>Welcome to Professional</h2>
                <ul>
                    <a href="/professional">Home</a>
                    <a href="/professional_search">Search</a>
                    <a href="/profSummary">Summary</a>
                    <a href="/logout">Logout</a>
                </ul>
                <ul>
                    <a href="/prof_profile">Profile</a>
                    <a href="/viewRejectedRequest">View rejected requests</a>
                </ul>
    </header>
    {%if msg%}{{msg}}{%endif%}
    <div class="today_services">
        {%if cust_detail_today%}
        <h2>Today's Services</h2>
        <table style="width:90%;">
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Contact Number</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
            {%for i,ser_rq in cust_detail_today%}
            <tr>
                {%if i.is_allowed=="Allowed"%}
                <td>{{i.cust_id}}</td>
                <td>{{i.cname}}</td>
                <td>{{i.cphoneNo}}</td>
                <td>{{i.caddress}}</td>
                {%else%}
                <td>0</td>
                <td>User</td>
                <td>NA</td>
                <td>NA</td>
                {%endif%}
                <td>
                    {%if ser_rq.status == "Requested"%}
                    <a href="profAcceptService/{{ser_rq.sr_id}}">Accept</a>/<a
                        href="/profRejectService/{{ser_rq.sr_id}}">Reject</a>
                    {%elif ser_rq.status=="C Pay done" %}
                    <a href="pPaymentConfirm/{{ser_rq.sr_id}}">Confirm Payment</a>
                    {%else%}
                    {{ser_rq.status}}
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
        </table>
        {%else%}
        <h3>No Services are there to be delivered Today</h3>
        {%endif%}
    </div>

    <!--Closed Services-->
    <div class="clservices">
        <h2>Previous Services</h2>
        {%if cust_detail_prev%}
        <table style="width:90%;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Location</th>
                <th>Date of Request</th>
                <th>Status</th>
                <th>Rating</th>
            </tr>
            {%for cust,service in cust_detail_prev%}
            <tr>
                <td>{{cust.cust_id}}</td>
                <td>{{cust.cname}}</td>
                <td>{{cust.cphoneNo}}</td>
                <td>{{cust.caddress}}</td>
                <td>{{service.date_of_req}}</td>
                <td>
                    {%if service.status == "Requested"%}
                    <a href="profAcceptService/{{service.sr_id}}">Accept</a>/<a
                        href="/profRejectService/{{service.sr_id}}">Reject</a>
                    {%elif service.status=="C Pay done" %}
                    <a href="pPaymentConfirm/{{service.sr_id}}">Confirm Payment</a>
                    {%else%}
                    {{service.status}}
                    {%endif%}
                </td>

                <td>{%if service.srating %}
                    {{service.srating}}
                    {%else%}
                    NA
                    {%endif%}</td>

            </tr>
            {%endfor%}
        </table>
        {%else%}
        <h3>No previous history</h3>
        {%endif%}
    </div>

</body>

</html>