<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>
<body>
    <h1>Update Profile</h1>
    <form action="/updateProfProfile/{{p.prof_id}}" method="POST">
        <label>Email Id(Username)</label>
        <input type="input" name="cemail" value="{{p.pemail}}" disabled/><br>

        <label>Fullname</label>
        <input type="input" name="name" value="{{p.pname}}" /><br>

        <label>Service Name</label>
        
            <select name="serviceName" value="serviceName" disabled>
                {%for i in allServices%}
                <option value="{{i.sname}}">{{i.sname}}</option>
                {%endfor%}
            </select><br>

<!-- attach file here  -->
        <label>Experience(in years)</label>
        <input type="input" name="exp" value="{{p.pexp}}"/><br>

        <label >Address</label>
        <textarea name="address">{{p.paddress}}</textarea><br>

        <label>Pincode</label>
        <input type="input" name="pincode" value="{{p.ppincode}}"/><br>

        <label>Phone Number</label>
        <input type="input" name="phoneNo" value="{{p.pphoneNo}}"/><br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>{% for message in messages %}{{ message }}{% endfor %}</ul>
        {% endif %}
        {% endwith %}
        <input type="submit" value="Update">
    </form>
</body>
</html>